<html>
    <title> event info</title>
    <head>
      <title>Login</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        
    
    
    
      
    </head>
        
        <body>
            <section id="title">
                <div class="container-fluid">
            
            
                  <!-- Nav Bar -->
                  <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="">The Confetti</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link"
                          routerLink="/user"
                          routerLinkActive="activebutton"
                          ariaCurrentWhenActive="page">
                          Home
                          </a>
                        </li>
                      
                        <li class="nav-item">
                          <a class="nav-link"
                          routerLink="/booking"
                          routerLinkActive="activebutton"
                          ariaCurrentWhenActive="page">
                          Booking
                          </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link"
                          routerLink="/calendar"
                          routerLinkActive="activebutton"
                          ariaCurrentWhenActive="page">
                          Calendar
                          </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                            routerLink="/feedback"
                            routerLinkActive="activebutton"
                            ariaCurrentWhenActive="page">
                            Feedback
                            </a>
                          </li>
                      </ul>
                    </div>
                  </nav>
            
            
            
                  <!-- Title -->
                  <div class="row">
                    <div class="col-lg-6">
                      <h1>Let's get the party started.</h1>
                      <!-- <i class="fas fa-check-circle fa-4x ia"></i> -->
                       <i class="fas fa-bullhorn fa-3x ic "></i>
                      
            
                    </div>
                   
            
                  </div>
                </div>
            
              </section>
              <br>
            <div class="container">
            <form class="row g-3" >
                <div class="col-md-6">
                  <label for="username">User Name</label>
                  <input [(ngModel)]="contact.uname" placeholder="User Name" name="username" class="form-control" id="username">
                  <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            User Name is required
                        </div> -->
                      </div>
                        <div class="col-md-6">
                          <label for="id">Email</label>
                  <input [(ngModel)]="contact.email" placeholder="email" type="email" name="id" class="form-control" id="id">
                                <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                    User email is required
                                </div> -->
                              </div>
               
                <div class="col-6">
                  <label for="id">Message</label>
                  <textarea type="text" class="form-control" id="msg" required [(ngModel)]="contact.message" placeholder="Type ur message here"  name="id" class="form-control" id="id"></textarea>
                        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Message are required
                        </div> -->
                      </div>
                      
                
                      <div class="col-12">
                        <button class="btn btn-success" (click)="createContact()">Submit</button>             
                         </div>
              </form>
               <!-- <div class="container">
                <table class="table table-hover">
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Message</th>
                       
                        
                    </tr>
                    <tr *ngFor="let emp of emps">
                        <td>{{emp.userName | titlecase}}</td>
                        <td>{{emp.Email}}</td>
                        <td>{{emp.Message }}</td>
                       
                    </tr>
                </table>
            </div>  -->
            </div>
        </body>
    
    
</html>
<div style="margin-top: 10rem;">
  <app-footer></app-footer>
  </div> 
