<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


    

</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">Register</h3>
                </div>
                <div class="d-flex justify-content-center form_container" style="display: block;">
                    <form method="POST" action="">
                        <div class="input-group mb-2" >
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="name" required
                        [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="Username">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </div></div>


                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                            <input type="email" class="form-control" id="email" required
                        [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="Email">
                        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                            Email is required
                        </div></div>

                        
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="number" class="form-control" id="phonenumber" required
                        [(ngModel)]="model.phonenumber" name="phonenumber" #phonenumber="ngModel" placeholder="Phonenumber">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            number is required
                        </div></div>



                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="password" required
                        [(ngModel)]="model.password" name="password" #password="ngModel" placeholder="Password">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Password is required
                        </div></div>



                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" id="password1" required
                        [(ngModel)]="model.password1" name="password1" #password1="ngModel" placeholder="Re-enter password">
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Password is required
                        </div></div>



                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn login_btn" type="submit" value="Register">
                        </div>
                    </form>

                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-center links">
                        Already have an account?  <a class="button"
                        routerLink="/admin"
                        routerLinkActive="activebutton"
                        ariaCurrentWhenActive="page">
                        Login Page
                      </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>
